/* For overall styling */
*{
    box-sizing: border-box;
    margin: 0;
}

/* Styling the div containing the h1 */
.overview{
    width: 600px;
    padding: 32px;
    position: relative;
}

/* To remove the margin for the body */
body{
    margin: 0px;
}

/* Styling the header of class name "main-header"(bg color, full width, padding) */
.main-header{
    background-color: #179b3a;
    width: 100%;
    padding: 15px 10px;
}

/* Styling the div under the header of class name "main-header", using child combinator */
.main-header > div{
    display: inline-block;

}

/* Styling the anchor tag of class name "brand-logo" */
.brand-logo{
    text-decoration: none;
    color: #07270f;
    font-size: 32px;
    font-weight: bold;
}

/* styling the nav with class name "main-nav" */
.main-nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 116px);

}

/* styling the list with class name "main-nav-links */
.main-nav-links{
    padding: 0;
    list-style: none;
    text-align: right;
    
}

/* styling the each nav link */
.main-nav-link{
    display: inline-block;
    margin: 0 16px;
    
}

/* styling the child elements(anchor tags) under the parent elements(li) with shared class name "main-nav-link" */
.main-nav-link > a{
    text-decoration: none;
    color: #07270f;
}

/* styling the child element(anchor tag) under the parent element(li) with class name "main-nav-link-cta" */
.main-nav-link-cta> a{
    background-color: rgb(177, 14, 14);
    color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
}

/* adding a style for when the link is hovered over */
.main-nav-link > a:hover{
    color: #fff;
    border-bottom: 2px #fff solid;
}

/* adding a style for when the link is hovered over */
.main-nav-link-cta> a:hover{
    color:  rgb(177, 14, 14);
    background-color: #fff;
    border: none;
}

.overview{
    background-color: rgba(151, 10, 10, 0.7);
    width: 100%;
    height: 400px;
    color: #fff;
    padding: 16px;
    background-image: url(./pexels.jpeg);
    background-size: cover;

}

/* styling the h1 tag under the div of class name "overview" */
.overview > h1{
    font-weight: bolder;
}

/* styling the title of the plans */
.plans-title{
    color: #07270f;
    text-align: center;
    font-size: 24px;
}

/* styling the div where all the plans are contained */
.plans{
    width: 100%;
    text-align: center;
}

/* styling each plan */
.plan{
    display: inline-block;
    width: 30%;
    background-color: #92b197;
    padding: 16px;
    margin: 8px;
}

/* changing the color of the plan titles */
.plan-title{
    color: #07270f;
}

/* styling the highlighted plan(the one in the middle) */
.highlighted-plan{
    background-color: #187e38;
    color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

/* styling the title under the highlighted plan */
.highlighted-plan>.plan-title{
    color: #fff;
}

/* removing padding and list style for the plan features */
.plan-features{
    list-style: none;
    padding: 0;
}

/* styling each list item */
.plan-features li{
    margin: 8px 0;
}

/* styling the text "Recommended" */
.recommended{
    text-transform: uppercase;
    color: #07270f;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);

}

/* styling the buttons for "choose plan" */
button{
    cursor: pointer;
    color: #fff;
    background-color: #07270f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid;
}

/* adding a different style for when the button is hovered over */
button:hover{
    background-color: #fff;
    color: #07270f;
}

/* styling the footer */
footer{
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 16px 0;
}

/* styling the key features */
#key-features{
    background-color: rgba(151, 10, 10, 0.7);
    height: 300px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

/* aligning the key features title to the center */
.key-features-title{
    text-align: center;

}

/* stling the list for the key features */
.key-features-list{
    list-style: none;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 75px;
    left: 90px;
}

/* styling each individual key feature */
.key-feature{
    display: inline-block;
    margin: 0 50px;
    font-size: 25px;
}

/* styling the h1 with class name "page-title" */
.page-title{
    text-align: left;
    position: absolute;
    top: 350px;
}


